html {
    font-family: snas-serif;
    font-size: 62.5%;
}
input[type=text], rsvp {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
